body {
  background-color: #000;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
}

body ul, body ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #351f67;
  background-color: black;
}

header .header-wrap {
  margin: 0 auto;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 91px;
}

header .header-wrap span {
  color: #ffff;
}

header .header-wrap .header-left {
  margin-top: 15px;
  margin-left: 0px;
  position: relative;
}

header .header-wrap .header-left .left-top {
  position: absolute;
  left: 0;
}

header .header-wrap .header-left .left-top span {
  color: #888;
  font-size: 0.8rem;
  margin-right: 30px;
}

header .header-wrap .header-left .left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 10px 0;
}

header .header-wrap .header-left .left-bottom span {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  margin: 0 30px;
  min-width: 52px;
}

header .header-wrap .header-hamburger {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-sitemap-white.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
}

header .header-wrap .header-search {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  margin-right: 45px;
}

header .header-wrap .header-login {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-mymega-white.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
}

header .header-wrap .header-calendar {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-white.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  margin-left: 45px;
}

header .header-wrap .header-right {
  margin-top: 15px;
  margin-right: 0px;
  position: relative;
}

header .header-wrap .header-right .right-top {
  position: absolute;
  right: 0;
}

header .header-wrap .header-right .right-top span {
  color: #888;
  font-size: 0.8rem;
  margin-left: 30px;
}

header .header-wrap .header-right .right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 10px 0;
}

header .header-wrap .header-right .right-bottom span {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  margin: 0 30px;
  min-width: 52px;
}

header .header-wrap .logo {
  margin-top: 23px;
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ci/logo-white_new2.png");
  background-repeat: no-repeat;
  height: 47px;
  width: 140px;
  min-width: 140px;
}

main .box-office-wrap {
  width: 1100px;
  margin: 80px auto 0 auto;
  padding-bottom: 0;
  height: 700px;
  color: #ffff;
}

main .box-office-wrap .box-header {
  position: relative;
}

main .box-office-wrap .box-header .box-title {
  text-align: center;
  font-size: 17px;
  position: relative;
}

main .box-office-wrap .box-header .box-title::after {
  content: "";
  width: 68px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 300%);
          transform: translate(-50%, 300%);
  background-color: rgba(255, 255, 255, 0.2);
}

main .box-office-wrap .box-header .more-movies {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #aaa;
  right: 30px;
  top: 0;
}

main .box-office-wrap .box-header .plus-icon {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-more-cross-gray.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

main .box-office-wrap .box-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  height: 398px;
}

main .box-office-wrap .box-movies .movie_1 {
  position: relative;
  width: 245px;
  height: 398px;
}

main .box-office-wrap .box-movies .movie_1 .image-wrap {
  position: relative;
}

main .box-office-wrap .box-movies .movie_1 .image-wrap .description {
  display: none;
}

main .box-office-wrap .box-movies .movie_1 .image-wrap .chartNum {
  position: absolute;
  left: 5px;
  top: 0;
  display: block;
  font-style: italic;
  font-size: 30px;
  margin: 10px 0 0 15px;
  text-shadow: 2px 2px 6px #000;
}

main .box-office-wrap .box-movies .movie_1 .image-wrap img {
  position: absolute;
  z-index: -1;
  width: 245px;
  height: 352px;
}

main .box-office-wrap .box-movies .movie_1:hover .description {
  display: block;
  position: absolute;
  width: 245px;
  height: 352px;
  top: 0;
  left: 0;
}

main .box-office-wrap .box-movies .movie_1:hover .chartNum {
  display: none;
}

main .box-office-wrap .box-movies .movie_1 .button-wrap {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
}

main .box-office-wrap .box-movies .movie_1 .button-wrap .like-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3px;
  width: 74px;
  height: 36px;
  border: 1px solid #555;
}

main .box-office-wrap .box-movies .movie_1 .button-wrap .like-button .heart {
  background-image: url("https://www.megabox.co.kr/static/pc/images/common/ico/ico-heart-toggle-main.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  margin: auto 4px auto 0;
}

main .box-office-wrap .box-movies .movie_1 .button-wrap .like-button p {
  margin: 0;
  padding: 0;
  line-height: 36px;
}

main .box-office-wrap .box-movies .movie_1 .button-wrap .buy-ticket-button {
  margin: 0 3px;
  width: 154px;
  height: 36px;
  border: 1px solid #037B94;
  background-color: #307B94;
  color: #ffff;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
}

main .box-office-wrap .box-movies .movie_2 {
  position: relative;
  width: 245px;
  height: 398px;
}

main .box-office-wrap .box-movies .movie_2 .image-wrap {
  position: relative;
}

main .box-office-wrap .box-movies .movie_2 .image-wrap .description {
  display: none;
}

main .box-office-wrap .box-movies .movie_2 .image-wrap .chartNum {
  position: absolute;
  left: 5px;
  top: 0;
  display: block;
  font-style: italic;
  font-size: 30px;
  margin: 10px 0 0 15px;
  text-shadow: 2px 2px 6px #000;
}

main .box-office-wrap .box-movies .movie_2 .image-wrap img {
  position: absolute;
  z-index: -1;
  width: 245px;
  height: 352px;
}

main .box-office-wrap .box-movies .movie_2:hover .description {
  display: block;
  position: absolute;
  width: 245px;
  height: 352px;
  top: 0;
  left: 0;
}

main .box-office-wrap .box-movies .movie_2:hover .chartNum {
  display: none;
}

main .box-office-wrap .box-movies .movie_2 .button-wrap {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
}

main .box-office-wrap .box-movies .movie_2 .button-wrap .like-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3px;
  width: 74px;
  height: 36px;
  border: 1px solid #555;
}

main .box-office-wrap .box-movies .movie_2 .button-wrap .like-button .heart {
  background-image: url("https://www.megabox.co.kr/static/pc/images/common/ico/ico-heart-toggle-main.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  margin: auto 4px auto 0;
}

main .box-office-wrap .box-movies .movie_2 .button-wrap .like-button p {
  margin: 0;
  padding: 0;
  line-height: 36px;
}

main .box-office-wrap .box-movies .movie_2 .button-wrap .buy-ticket-button {
  margin: 0 3px;
  width: 154px;
  height: 36px;
  border: 1px solid #037B94;
  background-color: #307B94;
  color: #ffff;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
}

main .box-office-wrap .box-movies .movie_3 {
  position: relative;
  width: 245px;
  height: 398px;
}

main .box-office-wrap .box-movies .movie_3 .image-wrap {
  position: relative;
}

main .box-office-wrap .box-movies .movie_3 .image-wrap .description {
  display: none;
}

main .box-office-wrap .box-movies .movie_3 .image-wrap .chartNum {
  position: absolute;
  left: 5px;
  top: 0;
  display: block;
  font-style: italic;
  font-size: 30px;
  margin: 10px 0 0 15px;
  text-shadow: 2px 2px 6px #000;
}

main .box-office-wrap .box-movies .movie_3 .image-wrap img {
  position: absolute;
  z-index: -1;
  width: 245px;
  height: 352px;
}

main .box-office-wrap .box-movies .movie_3:hover .description {
  display: block;
  position: absolute;
  width: 245px;
  height: 352px;
  top: 0;
  left: 0;
}

main .box-office-wrap .box-movies .movie_3:hover .chartNum {
  display: none;
}

main .box-office-wrap .box-movies .movie_3 .button-wrap {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
}

main .box-office-wrap .box-movies .movie_3 .button-wrap .like-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3px;
  width: 74px;
  height: 36px;
  border: 1px solid #555;
}

main .box-office-wrap .box-movies .movie_3 .button-wrap .like-button .heart {
  background-image: url("https://www.megabox.co.kr/static/pc/images/common/ico/ico-heart-toggle-main.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  margin: auto 4px auto 0;
}

main .box-office-wrap .box-movies .movie_3 .button-wrap .like-button p {
  margin: 0;
  padding: 0;
  line-height: 36px;
}

main .box-office-wrap .box-movies .movie_3 .button-wrap .buy-ticket-button {
  margin: 0 3px;
  width: 154px;
  height: 36px;
  border: 1px solid #037B94;
  background-color: #307B94;
  color: #ffff;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
}

main .box-office-wrap .box-movies .movie_4 {
  position: relative;
  width: 245px;
  height: 398px;
}

main .box-office-wrap .box-movies .movie_4 .image-wrap {
  position: relative;
}

main .box-office-wrap .box-movies .movie_4 .image-wrap .description {
  display: none;
}

main .box-office-wrap .box-movies .movie_4 .image-wrap .chartNum {
  position: absolute;
  left: 5px;
  top: 0;
  display: block;
  font-style: italic;
  font-size: 30px;
  margin: 10px 0 0 15px;
  text-shadow: 2px 2px 6px #000;
}

main .box-office-wrap .box-movies .movie_4 .image-wrap img {
  position: absolute;
  z-index: -1;
  width: 245px;
  height: 352px;
}

main .box-office-wrap .box-movies .movie_4:hover .description {
  display: block;
  position: absolute;
  width: 245px;
  height: 352px;
  top: 0;
  left: 0;
}

main .box-office-wrap .box-movies .movie_4:hover .chartNum {
  display: none;
}

main .box-office-wrap .box-movies .movie_4 .button-wrap {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
}

main .box-office-wrap .box-movies .movie_4 .button-wrap .like-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3px;
  width: 74px;
  height: 36px;
  border: 1px solid #555;
}

main .box-office-wrap .box-movies .movie_4 .button-wrap .like-button .heart {
  background-image: url("https://www.megabox.co.kr/static/pc/images/common/ico/ico-heart-toggle-main.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  margin: auto 4px auto 0;
}

main .box-office-wrap .box-movies .movie_4 .button-wrap .like-button p {
  margin: 0;
  padding: 0;
  line-height: 36px;
}

main .box-office-wrap .box-movies .movie_4 .button-wrap .buy-ticket-button {
  margin: 0 3px;
  width: 154px;
  height: 36px;
  border: 1px solid #037B94;
  background-color: #307B94;
  color: #ffff;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
}

main .box-office-wrap .box-footer {
  border-radius: 5px;
  text-align: center;
  bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1100px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.02);
  margin: 50px 0 0 0;
  padding: 0 0 0 0;
}

main .box-office-wrap .box-footer div {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0;
}

main .box-office-wrap .box-footer div p {
  margin: 0;
  line-height: 26px;
}

main .box-office-wrap .box-footer div .calendar-icon {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-main.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 28px;
  margin-right: 8px;
}

main .box-office-wrap .box-footer div .film-icon {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-boxoffice-main.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 28px;
  margin-right: 8px;
}

main .box-office-wrap .box-footer div .ticket-icon {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-quick-reserve-main.png");
  background-repeat: no-repeat;
  width: 29px;
  height: 28px;
  margin-right: 8px;
}

main .box-office-wrap .box-footer div:nth-of-type(1) input {
  height: 29px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #d8d9db;
  font-size: 1rem;
  color: #d8d9db;
}

main .box-office-wrap .box-footer div:nth-of-type(1) input:focus {
  outline: none;
}

main .box-office-wrap .box-footer div:nth-of-type(1) .search-icon {
  background-image: url("https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 22px;
  margin-top: 9px;
  border-bottom: 1px solid #d8d9db;
}

main .box-office-wrap .box-footer div:not(:nth-of-type(1)) {
  border-left: 1px solid #423e3e;
}

main .box-office-wrap .moving-mouse {
  width: 1100;
  height: 24;
  position: relative;
}

main .box-office-wrap .moving-mouse::after {
  margin-top: 50px;
  background-image: url("../img/ico-mouse.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  content: "";
  top: 10;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 16px;
  height: 24px;
  -webkit-animation: moveAnim 1.5s forwards;
          animation: moveAnim 1.5s forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes moveAnim {
  0% {
    top: 10px;
  }
  40% {
    top: 0px;
  }
  80% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

@keyframes moveAnim {
  0% {
    top: 10px;
  }
  40% {
    top: 0px;
  }
  80% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

main .box-office-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}

main::before {
  background-image: url("https://img.megabox.co.kr/SharedImg/2022/05/23/ZtL7FQSQhJA1auFMd8TUSORfYq9DBG6W_380.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
}

input {
  border-radius: none;
}
/*# sourceMappingURL=movie.css.map */